



<footer class="centered light-bg">

  <a href="#top" class="scroll-to-top">
    <i class="fas fa-chevron-up"></i>
  </a>

  <nav class="padded-1">
    <a target="_blank" href="https://www.instagram.com/buddha.ventura/">
      <i class="fab fa-instagram button-solid"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/wearebuddhaventura/">
      <i class="fab fa-facebook-square button-solid"> </i>
    </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCA3273T2ra8M3bmTKefXGPA">
      <i class="fab fa-youtube-square button-solid"></i>
    </a>
  </nav>

  <a href="/index.html">
  <img class="logo" src="/images/BV-logo-bl.png">
  </a>

</footer>
<p class="sub-footer"><a href="https://rachelbowler.com/" target="_blank"> Built with love by <img src="/images/RB_logo.png" alt="Rachel Bowler Logo"> </a> </p>
