<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid" id="top">
  <div class="col-4_sm-12-middle">
    <a href="/">
      <img class="logo editable" src="/images/BV-logo-bl.png">
    </a>
  </div>
  <nav class="col-8-middle mob-hide right">
    <a href="/about"> About </a>

    <span class="dropdown-nav">
           <a href="/portfolio"> Portfolio </a>
              <div class="dropdown-content">
               <a href="portfolio">Projects</a>
               <a href="gallery">Gallery</a>
             </div>
         </span>
    <a href="/blog"> Blog </a>
    <a href="/services"> Services </a>
    <a href="/contact"> Contact </a>
    <a target="_blank" href="https://www.instagram.com/buddha.ventura/">
      <i class="fab fa-instagram"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/wearebuddhaventura/">
      <i class="fab fa-facebook-square"> </i>
    </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCA3273T2ra8M3bmTKefXGPA">
      <i class="fab fa-youtube"></i>
    </a>
  </nav>

</header>


<!-- this is the button to open and close your hamburger menu -->
<div class="hamburger">
  <i class="fas fa-bars"></i>
</div>

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  {% include site-navigation.html %}
</nav>
