---
layout: default
---


<section class="padded centered max-1400">

  <h2 class="page-title"> {{page.title}}</h2>
  <p class="padded-bottom-2"> {{page.description}}</p>

  <div style="margin-bottom: 2rem;">

    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//S75WjYW8HXI' frameborder='0' allowfullscreen></iframe></div>

  </div>

    <div class="popup-gallery masonry">
    {% for image in page.images %}
          <a class="item" href="{{image.image_path}}" title="{{image.description}}">
            <img src='{{image.image_path}}'>
          </a>
    {% endfor%}

    </div>


</section>
