---
layout: default
---


<section class="project-page padded max-1400">

    {{content}}

</section>


{% comment %}
  Previous / Next functions
  Assign variables from the entire portfolio collection
{% endcomment %}
{% assign items_raw = site.projects %}
{% assign items = items_raw | sort: 'year' | reverse %}

{% if items.size > 1 %}
  {% comment %}
    Store the index position of the matching items
  {% endcomment %}
  {% for item in items %}
    {% if item.title == page.title %}
      {% assign item_index = forloop.index %}
    {% endif %}
  {% endfor %}

  {% assign prev_index = item_index | plus: 1 %}
  {% assign next_index = item_index | minus: 1 %}

  {% for item in items %}
    {% if forloop.index == prev_index %}
      {% assign prev = item %}
    {% endif %}
    {% if forloop.index == next_index %}
      {% assign next = item %}
    {% endif %}
  {% endfor %}

<div class="grid">
    {% if prev %}
    <div class="col padded-1 right">
      <a href="{{ prev.url }}" class=" button prev" title="{{ prev.title }}">&lt; Older </a>
    </div>
    {% endif %}
    {% if prev and next %}
    {% endif %}
    {% if next %}
    <div class="col padded-1">
      <a href="{{ next.url }}" class="button next" title="{{ next.title }}">Newer &gt;</a>
    </div>
    {% endif %}
</div>
{% endif %}
